---
import Acknowledgments from '../components/Acknowledgments.astro';
import BoxString from '../components/BoxString.astro';
import Chair from '../components/Chair.astro';
import Computer from '../components/Computer.astro';
import Desk from '../components/Desk.astro';
import Ficus from '../components/Ficus.astro';
import Room from '../components/Room.astro';
import SectionLink from '../components/SectionLink.astro';
import SectionPreview from '../components/SectionPreview.astro';
import Layout from '../layouts/Layout.astro';

const hideSurfacesLabels = { right: true, back: true, bottom: true };
const hideSurfacesShadows = { right: true, left: true, back: true, bottom: true, top: true };

const labelsColor = 'var(--color-text-anchor)';
const labelsColorShadow = 'var(--labels-shadow-color)';

const commonLabelsProps = {
  cellSize: 'var(--labels-size)',
  gap: 0,
};
---

<Layout title="Hi mom">
  <Room class="scene">
    <div class="scene-content">
      <section title="Main Navigation" class="labels-container">
        <h1>
          <BoxString
            string="evgenii's"
            color={labelsColorShadow}
            hideSurfaces={hideSurfacesShadows}
            hideGradient={true}
            {...commonLabelsProps}
          />
        </h1>

        <div class="labels-links">
          <div class="labels-shadows" aria-hidden="true">
            <BoxString
              string="blog"
              color={labelsColorShadow}
              hideSurfaces={hideSurfacesShadows}
              hideGradient={true}
              {...commonLabelsProps}
            />

            <BoxString
              string="resume"
              color={labelsColorShadow}
              hideSurfaces={hideSurfacesShadows}
              hideGradient={true}
              {...commonLabelsProps}
            />
          </div>

          <SectionLink
            title="Blog"
            class="labels-blog"
            href="/blog"
            borderWidth="var(--padding-md)"
            borderOffset="var(--padding-xlg)"
            borderSize="calc(4 * var(--padding-lg))"
          >
            <BoxString string="blog" color={labelsColor} hideSurfaces={hideSurfacesLabels} {...commonLabelsProps} />
          </SectionLink>

          <SectionLink
            title="Resume"
            class="labels-resume"
            href="/resume"
            borderWidth="var(--padding-md)"
            borderOffset="var(--padding-xlg)"
            borderSize="calc(4 * var(--padding-lg))"
          >
            <BoxString string="resume" color={labelsColor} hideSurfaces={hideSurfacesLabels} {...commonLabelsProps} />
          </SectionLink>
        </div>
      </section>

      <section title="Recent Content" class="section-preview-container">
        <SectionPreview
          href="/blog"
          class="section-preview-blog"
          caption="Latest Blog Entry"
          title="Meaning of life"
          description="Lorem ipsum and other stuff like this."
        />
        <SectionPreview
          href="/resume"
          class="section-preview-resume"
          caption="Resume Summary"
          title="Meaning of life"
          description="Lorem ipsum and other stuff like this."
        />
      </section>

      <section class="decorations-container" aria-hidden="true">
        <Ficus class="decorations-ficus" />
        <Chair class="decorations-chair" seatColor="var(--seat-color)" frameColor="var(--seat-frame-color)" />
        <Desk
          class="decorations-desk"
          surfaceColor="var(--table-color)"
          frameColor="var(--table-frame-color)"
          height="var(--table-height)"
        />
        <Computer class="decorations-computer" plasticColor="var(--plastic-color)" />
      </section>
    </div>
  </Room>

  <Acknowledgments class="acks" />
</Layout>

<style lang="scss" is:global>
  html,
  body {
    overflow: hidden;
    background: var(--color-surface);
  }
</style>

<style lang="scss">
  @use 'sass:list';

  .acks {
    position: fixed;
    bottom: var(--padding-md);
    right: 0;
    left: 0;
  }

  .section-preview {
    &-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: var(--labels-vertical-gap);
      transform-style: preserve-3d;
      transform: translateZ(var(--labels-offset));

      @media (max-width: 600px) {
        display: none;
      }
    }

    &-resume {
      transform: translateZ(var(--labels-offset));
    }
  }

  .scene {
    --labels-size: 16px;
    --labels-offset: 100px;
    --labels-vertical-gap: 0px;
    --labels-shadow-color: rgba(0, 0, 0, 0.1);

    @media (prefers-color-scheme: dark) {
      --labels-shadow-color: rgba(255, 255, 255, 0.1);
    }

    @media (max-width: 800px) or (max-height: 600px) {
      --labels-size: 12px;
      --labels-offset: 50px;
    }
    @media (max-width: 460px) or (max-height: 460px) {
      --labels-size: 10px;
      --labels-offset: 0px;
      --labels-vertical-gap: var(--padding-xlg);
    }
    @media (max-width: 280px) {
      --labels-size: 8px;
      --labels-offset: 0px;
      --labels-vertical-gap: var(--padding-xlg);
    }

    --animation-1-delay: 1s;
    --animation-1-duration: 2s;
    --animation-2-delay: calc(var(--animation-1-delay) + var(--animation-1-duration));
    --animation-2-duration: 20s;
    --animation-end-offset-y: calc(-45vh + 20vw);
    --animation-end-offset-x: 20vw;
    --animation-end-offset-z: -40vw;
    --animation-end-rotate-x: -20deg;
    --animation-end-rotate-y: 30deg;
    --animation-start-offset-y: -30vh;
    --rocking-step: 1deg;

    @media (max-width: 460px) or (max-height: 520px) {
      --animation-end-offset-y: calc(-50vh + 25vw);
    }

    @keyframes main-rotation {
      0% {
        transform: rotateX(0deg) rotateY(0deg) translateZ(0vw) translateY(var(--animation-start-offset-y));
      }
      100% {
        transform: rotateX(var(--animation-end-rotate-x)) rotateY(var(--animation-end-rotate-y))
          translateZ(var(--animation-end-offset-z)) translateY(var(--animation-end-offset-y))
          translateX(var(--animation-end-offset-x));
      }
    }

    @keyframes main-rocking {
      $pos: [[0, 0], [1, 0], [-1, 1], [1, -1], [1, 1], [-1, -1], [-1, 0], [1, 0], [0, 0]];
      @for $i from 0 through 8 {
        #{$i * 12.5%} {
          $x: list.nth(list.nth($pos, $i + 1), 1);
          $y: list.nth(list.nth($pos, $i + 1), 2);
          transform: rotateX(calc(var(--animation-end-rotate-x) + $x * var(--rocking-step)))
            rotateY(calc(var(--animation-end-rotate-y) + $y * var(--rocking-step)))
            translateZ(var(--animation-end-offset-z))
            translateY(var(--animation-end-offset-y))
            translateX(var(--animation-end-offset-x));
        }
      }
    }

    height: 100%;
    display: grid;
    place-items: flex-end center;
    transform-origin: center;
    transform: rotateX(0deg) rotateY(0deg) translateZ(0vw) translateY(var(--animation-start-offset-y));
    animation: var(--animation-1-duration) var(--animation-1-delay) forwards main-rotation var(--animation-curve-base),
      var(--animation-2-duration) var(--animation-2-delay) infinite main-rocking var(--animation-curve-base);

    &-content {
      transform-style: preserve-3d;
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: calc(var(--padding-xlg) * 2);
      padding-bottom: calc(var(--padding-xlg) * 6);
    }

    .labels {
      &-container {
        transform-style: preserve-3d;

        h1 {
          margin-bottom: var(--padding-lg);
        }
      }

      &-shadows,
      &-links {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        transform-style: preserve-3d;
        position: relative;
        gap: var(--padding-xlg);
      }

      &-shadows {
        position: absolute;
      }

      &-blog {
        transform: translateZ(var(--labels-offset));
      }

      &-resume {
        transform: translateZ(calc(2 * var(--labels-offset)));
      }
    }

    .decorations {
      &-container {
        --light-overlay-opacity: 0.15;

        --initial-offset-z: 100000px;
        --base-offset-x: 250px;
        --base-offset-z: 600px;
        --base-rotate-y: 0deg;

        @media (max-width: 850px) {
          --base-offset-x: 50px;
          --base-offset-z: 650px;
        }
        @media (max-width: 600px) {
          --base-offset-x: -100%;
          --base-rotate-y: -30deg;
        }
        @media (max-width: 450px) {
          --base-offset-x: -120%;
        }
        @media (max-width: 270px) {
          --base-offset-x: -140%;
        }

        @media (max-height: 810px) {
          --base-offset-z: 500px;
        }

        --seat-color: #dcdcdc;
        --seat-frame-color: #707070;
        --table-color: #aeaeae;
        --table-frame-color: #707070;
        --table-height: 128px;
        --table-length: 256px;
        --plastic-color: beige;

        @media (prefers-color-scheme: dark) {
          --seat-color: #190b00;
          --seat-frame-color: #212121;
          --table-color: #331c0b;
          --table-frame-color: var(--seat-frame-color);
          --plastic-color: #8b8b74;
        }

        pointer-events: none;
        transform-style: preserve-3d;
        position: absolute;
        width: var(--table-length);
        height: 220px;
        bottom: 0;
        transform: translateX(var(--base-offset-x)) translateZ(var(--base-offset-z)) rotateY(var(--base-rotate-y));
      }

      &-ficus {
        position: absolute;
        left: 10px;
        bottom: calc(var(--table-height) + 8px);
      }

      &-chair {
        position: absolute;
        left: 80px;
        bottom: 0;
        transform: translateZ(50px) rotateY(-180deg);
      }

      &-desk {
        position: absolute;
        bottom: 0;
      }

      &-computer {
        position: absolute;
        left: 105px;
        bottom: calc(var(--table-height) + 4px);
        transform: translateY(-4px);
      }
    }
  }
</style>
