---
import * as fs from 'fs/promises';

import { getCollection } from 'astro:content';

import Acknowledgments from '../components/Acknowledgments.astro';
import IndexLink from '../components/IndexLink.astro';
import Terminal, { type TerminalLine } from '../components/Terminal.astro';
import Win98Window from '../components/Win98Window.astro';
import Layout from '../layouts/Layout.astro';

const terminalPrefix = await fs.readFile('src/assets/terminal-header.txt', 'utf-8');

const entries = await getCollection('resume');

const screenReaderResume = entries
  .map((entry, i) => [
    `${i + 1}. ${entry.body?.trim()}`,
    `Tech stack:`,
    ...(entry.data.stack ?? ['N/A']).map((s) => `- ${s}`),
  ])
  .flat();

const terminalResume: TerminalLine[] = entries.map((entry) => ({
  line: [
    `├── *${entry.data.period}*`,
    ...(entry.data.stack?.map((s, i, stack) => `│   ${i < stack.length - 1 ? '├──' : '└──'} ${s}`) ?? []),
    `│`,
    `│`,
  ].join('\n'),
  suffix: entry.body?.trim(),
}));

const terminalLines: TerminalLine[] = [
  { prompt: true, os: 'windows', line: 'ssh brain.io.local' },
  {
    prompt: false,
    os: 'linux',
    delay: 1000,
    line:
      'Welcome to Brain 1.01 LTS (GNU/Linux 4.15.0-55-generic x86_64)\n\n * Documentation:  https://github.com/mrnateriver/personal-site\n * Support:        https://github.com/mrnateriver\n\nLast login: ' +
      new Date().toISOString(),
  },
  { prompt: true, os: 'linux', host: 'nate@brain.io.local', line: 'tree /career' },
  { prompt: false, os: 'linux', host: 'nate@brain.io.local', line: 'zsh: command not found: tree' },
  { prompt: true, os: 'linux', host: 'nate@brain.io.local', line: 'sudo apt-get install tree' },
  {
    prompt: false,
    os: 'linux',
    host: 'nate@brain.io.local',
    line: 'Reading package lists... Done\nBuilding dependency tree... Done\nThe following NEW packages will be installed:\n  tree\nNeed to get 47.9 kB of archives.\nGet:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 tree amd64 2.0.2-1 [47.9 kB]',
  },
  {
    prompt: false,
    os: 'linux',
    host: 'nate@brain.io.local',
    delay: 1000,
    line: 'Fetched 47.9 kB in 0s (203 kB/s)\nPreparing to unpack .../tree_2.0.2-1_amd64.deb ...\nUnpacking tree (2.0.2-1) ...\nSetting up tree (2.0.2-1) ...',
  },
  { prompt: true, os: 'linux', host: 'nate@brain.io.local', line: 'tree /career ' }, // Space at the end is a workaround for Chrome not rendering the full string due to a bug it seems
  ...terminalResume,
];
---

<Layout title="Resume">
  <div class="layout-resume">
    <IndexLink />

    <main>
      <article class="screen-reader">
        <h1>Resume</h1>
        {screenReaderResume.map((line) => <p>{line}</p>)}
      </article>

      <Win98Window
        class="terminal-window"
        caption="Command Prompt"
        closeButtonHref="/"
        fullWindowControls
        canvasBackground
      >
        <Terminal class="terminal-content" lines={terminalLines} header={terminalPrefix} />
      </Win98Window>
    </main>

    <Acknowledgments class="acks" />
  </div>
</Layout>

<style lang="scss">
  .layout-resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--padding-sm);
    padding: var(--padding-sm) var(--padding-xlg);
    box-sizing: border-box;
    height: 100%;
  }

  main {
    flex: 1;
    max-width: 1000px;
    width: 100%;

    .screen-reader {
      position: absolute;
      overflow: hidden;
      opacity: 0;
      height: 0;
    }
  }

  .terminal {
    &-window {
      height: 100%;
      min-height: 300px;
      margin-bottom: calc(var(--padding-xlg) * 2);
    }

    &-content {
      position: absolute;
      overflow-x: hidden;
      overflow-y: scroll;
      inset: 0;
    }
  }
</style>
