---
import { normalizeColor, type Color } from '../colors';
import { normalizeCssValue } from '../styles';

import Box from './Box.astro';

interface Props {
  class?: string;
  frameColor?: Color;
  surfaceColor?: Color;
  height?: string | number;
  length?: string | number;
}

const { class: className, frameColor = '#282828', surfaceColor = '#190b00', height = 128, length = 256 } = Astro.props;

const frameColorNormalized = normalizeColor(frameColor) ?? '#282828';
const surfaceColorNormalized = normalizeColor(surfaceColor) ?? '#190b00';
const heightNormalized = normalizeCssValue(height, 'px') ?? '128px';
const lengthNormalized = normalizeCssValue(length, 'px') ?? '256px';
---

<div class={`desk ${className ?? ''}`} style={{ '--desk-height': heightNormalized, '--desk-length': lengthNormalized }}>
  <Box
    class="desk-surface"
    surfaceColor={surfaceColorNormalized}
    size={{ wx: 'var(--desk-length)', wy: 'var(--desk-surface-height)', wz: 'var(--desk-width)' }}
  />

  <Box
    class="desk-leg desk-leg-left"
    surfaceColor={frameColorNormalized}
    size={{ wx: 'var(--desk-leg-depth)', wy: 'var(--desk-height)', wz: 'var(--desk-leg-width)' }}
  />
  <Box
    class="desk-leg desk-leg-right"
    surfaceColor={frameColorNormalized}
    size={{ wx: 'var(--desk-leg-depth)', wy: 'var(--desk-height)', wz: 'var(--desk-leg-width)' }}
  />

  <Box
    class="desk-support desk-support-left"
    surfaceColor={frameColorNormalized}
    size={{ wx: 'var(--desk-leg-depth)', wy: 'var(--desk-leg-depth)', wz: 'var(--desk-support-width)' }}
  />
  <Box
    class="desk-support desk-support-right"
    surfaceColor={frameColorNormalized}
    size={{ wx: 'var(--desk-leg-depth)', wy: 'var(--desk-leg-depth)', wz: 'var(--desk-support-width)' }}
  />
</div>

<style lang="scss">
  .desk {
    --desk-width: 128px;
    --desk-surface-height: 8px;
    --desk-support-width: calc(var(--desk-width) * 0.8);
    --desk-leg-width: 32px;
    --desk-leg-depth: 8px;

    transform-style: preserve-3d;
    position: relative;

    &-surface,
    &-leg,
    &-support {
      position: absolute;
    }

    &-surface {
      bottom: var(--desk-height);
    }

    &-leg {
      bottom: 0;

      &-left {
        //
      }

      &-right {
        right: calc(-1 * var(--desk-length));
      }
    }

    &-support {
      bottom: 0;

      &-left {
        //
      }

      &-right {
        right: calc(-1 * var(--desk-length));
      }
    }
  }
</style>
